<link rel="stylesheet" href="application.css" type="text/css" />
<h1>Wuddup I'm using ERB</h1>

<form action="/twitter" method="POST">
	Fill out this form
	<br>
	First Hash:<input type="text" name="first">
	<br>
	Second Hash: <input type="text"  name="second">
	<input type="submit">
</form>