<link rel="stylesheet" href="application.css" type="text/css" />

<form action="/twitter" method="post">
  <label for="hashtag-a">Hashtag A:</label>
  <input id="hashtag-a" type="text" name="hashtag-a">

  <label for="hashtag-b">Hashtag B:</label>
  <input id="hashtag-b" type="text" name="hashtag-b">

  <input type="submit" value="Clash!">
</form>
