<link rel="stylesheet" href="application.css" type="text/css" />

<form action="/twitter" method="post">
  <label for="login-a">Login A:</label>
  <input id="login-a" type="text" name="login-a">

  <label for="login-b">Login B:</label>
  <input id="login-b" type="text" name="login-b">

  <input type="submit" value="Clash!">
</form>
