<div>
	<p>
		Your form has been submitted
	</p>
</div>
<div>
	<div>
		<%= params[:first_hash] %>:
	</div>
	<div>
		Number of times mentioned:
	</div>
</div>
<br>
<div>
	<div>
		<%= params[:second_hash] %>:
	</div>
	<div>
		Number of times mentioned:
	</div>
</div>